body {
	margin: 0;
	background-image: url('./img/red-fade-1.png');
}

.nav-bar {
	background-color: black;
	color: grey;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-logo {
	display: inline-flex;
	position: sticky;
	left: 3%;
}

.username {
	position: absolute;
	display: inline-flex;
	top: 15px;
	left: 200px;
}

.user-icon {
	float: right;
	margin-top: 10px;
}

.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	right: 0px;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.welcome-box {
	width: 60%;
	height: 70%;
	position: absolute;
	left: 20%;
	top: 20%;
	background-color: rgb(190, 190, 190);
}

.welcome-box-header {
	height: calc(10%-(10px));
	padding: 10px;
	background-color: #eee;
}

.welcome-box-header-text {
	margin-left: 5%;
}

.welcome-box-title {
	padding: 0 10%;
}

.main-container {
	height: 80%;
	overflow: hidden;
}

.absolute-left {
	position: absolute;
	margin-left: 20%;
}

.input-first {
	top: 45%;
}

.input-second {
	top: 55%;
}

.input-third {
	top: 65%;
}

.login-or-create {
	top: 70%;
}

.email-field {
	margin-left: 26px;
}

.create-submit {
	top: 75%;
}

.left-arrow-circle {
	position: absolute;
	left: 5%;
	top: 40%;
}

.right-arrow-circle {
	position: absolute;
	right: 5%;
	top: 40%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
	font-family: 'Bevan', cursive;
}

.large-text {
	font-size: 24px;
}

.center-text > p {
	margin: 0px;
}

.movie-poster {
	height: 350px;
	cursor: context-menu;
}

.seen-movie {
	position: absolute;
	left: calc(50% - (30px));
	top: calc(50% - (60px));;
	display: none;
	z-index: 1002;
}

.poster-carousel {
	width: 80%;
}

ul {
	position: absolute;
}

button {
	margin: 10px;
}

form:hover > .poster-container {
	opacity: 0.8;
}

form:hover > .seen-movie {
	display: block;
}

.full {
	width: 100%;
}

.wide {
	width: 30%;
	margin-left: 10px;
}

.border-bottom td {
	border-bottom: 2px solid #DDD;
}

.table-username {
	width: 100px;
}

.table-comment {
	width: 75%;
	max-width: 75%;
	word-wrap: break-word;
}

.table-date {
	width: 200px;
}

.genre-bar {
	width: 100%;
	height: 10%;
	max-height: 60px;
	background-color: black;
}

.movie-description {
	display: none;
}

.comments {
	display: none;
}

.description-width {
	width: 70%;
}

.genre-list {
	list-style-type: none;
	width: calc(100% - (100px));
	padding: 0;
	margin: 0 50px;
}

.slick {
	width: 90%;
}

.genre-tab {
	border-style: outset;
	background-color: #AAA;
	text-align: center;
	font-size: 16px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.footer {
	font-size: 14px;
	text-align: center;
	color: black;
	margin-top: 40px;
}
