body {
	margin: 0;
}

.nav-bar {
	background-color: #000;
	color: grey;
	height: 10%;
	max-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-logo {
	display: inline-flex;
	position: sticky;
	left: 3%;
}

.user-icon {
	float: right;
	margin-top: 10px;
}

.menu-icon {
	float: right;
}

.welcome-box {
	width: 40%;
	height: 60%;
	right: 50%;
	top: 10%;
	background-color: blue;
}

.welcom-box-header {
	height: 10%;
	background-color: #eee;
}
