body {
	margin: 0;
	background-image: url('./img/red-fade-1.png');
}

.nav-bar {
	background-color: black;
	color: grey;
	height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-logo {
	display: inline-flex;
	position: sticky;
	left: 3%;
}

.user-icon {
	float: right;
	margin-top: 10px;
}

.dropdown {
	float: right;
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	right: 0px;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.welcome-box {
	width: 60%;
	height: 70%;
	position: absolute;
	left: 20%;
	top: 20%;
	background-color: rgb(190, 190, 190);
}

.welcome-box-header {
	height: calc(10%-(10px));
	padding: 10px;
	background-color: #eee;
}

.welcome-box-header-text {
	margin-left: 5%;
}


.welcome-box-title {
	padding: 0 10%;
}

.main-container {
	height: 80%;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.absolute-left {
	position: absolute;
	margin-left: 20%;
}

.input-first {
	top: 45%;
}

.input-second {
	top: 55%;
}

.input-third {
	top: 65%;
}

.login-or-create {
	top: 70%;
}

.email-field {
	margin-left: 26px;
}

.create-submit {
	top: 75%;
}

.left-arrow-circle {
	position: fixed;
	left: 5%;
	top: 40%;
}

.right-arrow-circle {
	position: fixed;
	right: 5%;
	top: 40%;
}

.title {
	position: absolute;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.movie-poster {
	display: block;
	top: 13%;
	margin-left: auto;
	margin-right: auto;
}

.genre-bar {
	width: 100%;
	height: 10%;
	max-height: 60px;
	background-color: black;
	position: absolute;
	top: 85%;
}

.grey-arrow-left {
	float: left;
	margin: 4px;
}

.grey-arrow-right {
	float: right;
	margin: 4px;
}

.genre-list {
	list-style-type: none;
	width: calc(100% - (100px));
	padding: 0;
	margin: 0 50px;
}

.genre-tab {
	border-style: outset;
	background-color: #AAA;
	width: calc(12% - (4px));
	border-style: outset;
	height: 15px;
	margin: 12px 2%;
	padding: 4px 0 8px 0;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	overflow: hidden;
}

.footer {
	font-size: 14px;
	text-align: center;
	color: black;
	margin-top: 40px;
}
