body {
	margin: 0;
	background-image: url('./img/red-fade-1.png');
}

.nav-bar {
	background-color: #000;
	color: grey;
	height: 10%;
	max-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-logo {
	display: inline-flex;
	position: sticky;
	left: 3%;
}

.user-icon {
	float: right;
	margin-top: 10px;
}

.menu-icon {
	float: right;
}

.welcome-box {
	width: 60%;
	height: 70%;
	position: absolute;
	left: 20%;
	top: 20%;
	background-color: 'rgba(190, 190, 190, 0.7)';
}

.welcome-box-header {
	height: 10%;
	background-color: #eee;
}

.welcome-box-title {
	font-size: 14px;
}
