body {
	margin: 0;
	background-image: url('./img/red-fade-1.png');
}

.nav-bar {
	background-color: black;
	color: grey;
	height: 10%;
	max-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-logo {
	display: inline-flex;
	position: sticky;
	left: 3%;
}

.user-icon {
	float: right;
	margin-top: 10px;
}

.menu-icon {
	float: right;
}

.welcome-box {
	width: 60%;
	height: 70%;
	position: absolute;
	left: 20%;
	top: 20%;
	background-color: rgb(190, 190, 190);
}

.welcome-box-header {
	height: 10%;
	background-color: #eee;
}

.welcome-box-header-text {

}

.welcome-box-title {
	font-size: 14px;
}

.main-container {
	height: auto;
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
}

.left-arrow-circle {
	position: fixed;
	left: 5%;
	top: 40%;
}

.right-arrow-circle {
	position: fixed;
	right: 5%;
	top: 40%;
}

.movie-poster {
	position: fixed;
	left: 40%;
	top: 20%;
}

.genre-bar {
	width: 100%;
	height: 10%;
	max-height: 60px;
	background-color: black;
	position: absolute;
	top: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grey-left-arrow {
	float: left;
}

.grey-right-arrow {
	float: right;
}

.footer {
	font-size: 14px;
	color: #DDD;
}
