body {
	margin: 0;
	background-image: url('./img/red-fade-1.png');
}

.nav-bar {
	background-color: black;
	color: grey;
	height: 10%;
	max-height: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.nav-logo {
	display: inline-flex;
	position: sticky;
	left: 3%;
}

.user-icon {
	float: right;
	margin-top: 10px;
}

.menu-icon {
	float: right;
}

.welcome-box {
	width: 60%;
	height: 70%;
	position: absolute;
	left: 20%;
	top: 20%;
	background-color: rgb(190, 190, 190);
}

.welcome-box-header {
	height: calc(10%-(10px));
	padding: 10px;
	background-color: #eee;
}

.welcome-box-header-text {
	margin-left: 5%;
}


.welcome-box-title {
	padding: 0 10%;
}

.main-container {
	height: 80%;
	overflow: hidden;
}

.username-input {
	position: absolute;
	top: 45%;
	margin-left: 20%;
}

.password-input {
	position: absolute;
	top: 55%;
	margin-left: 20%;
}

.submit-button {
	position: absolute;
	top: 65%;
	margin-left: 20%;
}

.create-account {
	position: absolute;
	top: 70%;
	margin-left: 20%;
}

.left-arrow-circle {
	position: fixed;
	left: 5%;
	top: 40%;
}

.right-arrow-circle {
	position: fixed;
	right: 5%;
	top: 40%;
}

.movie-poster {
	position: fixed;
	left: 40%;
	top: 20%;
}

.genre-bar {
	width: 100%;
	height: 10%;
	max-height: 60px;
	background-color: black;
	position: absolute;
	top: 80%;
}

.grey-arrow-left {
	float: left;
	margin: 4px;
}

.grey-arrow-right {
	float: right;
	margin: 4px;
}

.genre-list {
	list-style-type: none;
	width: calc(100% - (100px));
	padding: 0;
	margin: 0 50px;
}

.genre-tab {
	border-style: outset;
	background-color: #AAA;
	width: calc(12% - (4px));
	border-style: outset;
	height: 15px;
	margin: 12px 2%;
	padding: 4px 0;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	overflow: hidden;
}

.footer {
	font-size: 14px;
	text-align: center;
	color: black;
	margin-top: 40px;
}
